* {
    font-family: 'Poppins', sans-serif;
}

.body {
    background-color: #E9F2F6;
}

/* Page Welcome Start */
#hero {
    margin-top: 0;
    background-color: #E9F2F6;
    background-size: cover;
    height: 90vh;
}

#hero .container .item {
    margin-top: 15vh;
    margin-right: 25vh;
    line-height: 60px;
}

#hero .container .item p {
    line-height: 70px;
}

#caroseul {
    background-color: #112F65;
    height: 1000px;
    max-height: 1000px;
    border-bottom-right-radius: 600px;
    border-bottom-left-radius: 600px;
    z-index: 2;
}

#caroseul .container .destination {
    font-size: 2.5rem;
}

.navbar .btn1 {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #E9F2F6;
}

.navbar .btn2 {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #141067;
}

/* navigasi hover start */
/* .nav-link-hover a::after {
    content: "";
    position: absolute;
    background-color:#112F65;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 20px;
    transition: 0.3s;
}

.nav-link-hover a:hover::after {
    width: 100%;
} */
/* navigasi hover end */

#subscribe {
    margin-bottom: 0;
    background: url('storage/images/gunungFooter.png') no-repeat;
    background-size: cover;
}

#footer {
    margin-bottom: -10px;
    background: url('storage/images/rectangleFooter.png') no-repeat;
    background-size: cover
}
/* Page Welcome End */

/* Page Detail Start */


/* Page Detail End */



